.logo {
  position: absolute;
  height: auto;
  left: 0px;
  width: 80px;
  z-index: 1;
}

/* *{
  font-family:'Times New Roman', Times, serif;

}  */

.description-image {
  width: 90%;
  height: 90%;
}

.carousel-item img {
  height: 400px;
}
.carousel-caption {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  padding: 5px;
  height: auto;
  border: 0;
}
/*home page carousel*/
.carousel-item .homebanner {
  height: 560px;
}

/* Review section */
.reviews {
  max-width: 80%;
  margin: 0 auto;
  padding: 3em;
}
.carousel-item > img {
  object-fit: cover;
  aspect-ratio: 1 / 0.7;
}

.carousel-caption {
  /*   border: .3em solid black;
      background-color: white;
      color:black; */
  margin: 0 auto;
  max-width: fit-content;
}

.about {
  width: 100%;
  margin: 0 auto;
}

/* item form page  */
form {
  width: 80%;
  margin: 0 auto;
}

.carousel-caption {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  padding: 5px;
  height: auto;
}

.logo {
  position: absolute;
  height: auto;
  left: 0px;
  width: 80px;
  z-index: 1;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 3px;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 15px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

nav{
  background-color: #bbd0ff;
}

.footer--bg{
  background-color: #bbd0ff;
}


/* products page style- dynamic section*/
.flex-container{
  display:flex;
  flex-direction:column;
  
}

.flex-products{
  display:flex;
  flex-wrap: wrap;
}

.card-img-top{
  height:60%;
  object-fit: cover;
  aspect-ratio: 1/1.2 ;
  
}

.btn--hover:hover{
  background-color: gray;
  color:white;
}

.card__btn{
  display:flex;
  gap: 1em;
  margin:0 auto;
  justify-content:center;
  align-items:center;
}